* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Estilização do Header */

header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #222222;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 35px;
}

.logo {
    width: 150px;
    height: 50px;
}

.menus {
    align-items: center;
    width: 400px;
    height: 24px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.menus nav ul {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: flex-start;
}

.menus nav ul li a {
    padding-right: 15px;
    text-decoration: none;
    color: #F3F3F3;
    ;
}

.menus nav ul li a:hover {
    color: #D01418;
}

.carrinho:hover {
    background-color: #F3F3F3;
    border-radius: 50%;
}

/* Estilização main*/
main {
    background-color: #ccc;
}

.destacados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    position: relative;
}

.destacados h2 {
    position: absolute;
    top: 0.5rem;
}

.img {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8rem;
    margin-top: 3rem;

}

.cards {
    padding-top: 2rem;
    background-color: #ffff;
    width: 265px;
    height: 322px;
    border-radius: 5px;
    justify-content: space-between;
}

.space {
    margin-top: 1rem;
    background-color: #333;
    height: 1px;
    width: 265px;

}

.text {
    text-align: start;
    margin-top: 1rem;
    padding: 1rem;
}

.cards p {
    color: #619D00;
    font-size: 0.8rem;
}




.banner {
    background-image: url('../img/img\ 1fundo.png');
    background-size: cover;
    width: 100%;
    height: 600px;
    color: #D01418;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    line-height: 47px;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;

}

.banner span {
    color: #F3F3F3;

}




button {
    color: #F3F3F3;
    width: 220px;
    height: 61px;
    font-style: normal;
    font-size: 25px;
    line-height: 29px;
    font-weight: 400;
    background: #D01418;
    margin: 40px;
    border-radius: 8px;

}

button a {
    text-decoration: none;
    color: #F3F3F3;
}

button:hover {
    background-color: #333;
}

/*Estiliuzação footer*/

footer {

    display: flex;
    position: relative;
    width: 100%;

    height: 216px;
    background-color: #222222;
    margin-top: 4rem;

    align-items: center;


}

.logo-item {
    margin-left: 8rem;
}



.redes-container {
    margin-left: auto;
    margin-right: 8rem;
}

.redes-container p {

    color: #F3F3F3;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    padding-bottom: 15px;
}

.final {

    width: 100%px;
    height: 1.5rem;
    text-align: center;
    padding: 2px 0;
}